*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    overflow-x: hidden;
    color: white;
    font-family: 'Patrick Hand', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/blackboard.jpg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    /* visibility: ; */
    display: block;
    height: 10px;
    clear: both;
    /* margin-left: 800px; */
}
.row{
    max-width: 1180px;
    margin:0 auto;
}

.main-nav{
    float: right;
    margin-top: 10px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    padding-bottom: 8px;
}
.main-nav li a{
    padding: 4px 1px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    
    color:hotpink;
    font-weight: 1000;
}

.table{
    margin-left:130px;
}
.search{
    margin-left:170px;
    margin-top:40px;
}
.name1{
    font-size: 2rem;
    padding-right: 5px;
}
.name2{
    height: 3rem;
}
.box1{
    height: 2rem;
    width: 25rem;
    background-color: rgb(209, 209, 209);
}
.box2{
    height: 2rem;
    width: 25rem;
    background-color: rgb(209, 209, 209);
}
.standered1{
    font-size: 2rem;
   padding-right: 31px;
}
.standered2{
    height: 5rem;
 }
.submit{
    width:95px;
    padding: 0.7rem;
    margin-left:75px;
    opacity: 0.75;
}
.submit:hover{
    opacity:1;
    background-color: pink;
    color: black;
}
.main-content-header{
    border-top: 2px solid white;
    margin-bottom:500px;
    /* margin-left: 325px; */
}